body {
	background-color: rgb(23, 68, 116);
	font-family: 'Helvetica Neue', sans-serif; 
	font-weight: 300;
}

.fish-container {
	max-width: 650px;
	margin: auto;
}

.fish-container input {
	width: 100%;
	margin-top: 100px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: rgb(6, 93, 199);
	/*position: absolute;*/
}

.fish-container li {
	list-style: none;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	margin: 0px;
	margin-top: 12px;
	background-color: rgb(14, 62, 110);

	
}

.